---
layout: page
title: All Posts
permalink: /categories/all/
pagination:
  enabled: true
  collection: posts
  per_page: 10
  sort_field: date
  sort_reverse: true
  permalink: /categories/all/page/:num/
  trail:
    before: 2
    after: 2
---

<p>Here are all the posts from every category:</p>

<div class="posts-list">
  {% assign posts = paginator.posts | default: site.posts %}
  {% for post in posts %}
  <article class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
      <h2 class="post-title">{{ post.title }}</h2>
      {% if post.subtitle %}
      <h3 class="post-subtitle">{{ post.subtitle }}</h3>
      {% endif %}
    </a>

    <p class="post-meta">Posted on {{ post.date | date: "%B %-d, %Y" }}</p>

    <div class="post-entry">
      {{ post.content | truncatewords: 50 | strip_html | xml_escape }}
      <a href="{{ post.url | prepend: site.baseurl }}" class="post-read-more">[Read&nbsp;More]</a>
    </div>
  </article>
  {% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
  <li class="page-item">
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="page-link">&laquo; Previous</a>
  </li>
  {% endif %}

  {% for trail in paginator.page_trail %}
  <li class="page-item {% if trail.num == paginator.page %}active{% endif %}">
    <a href="{{ trail.path | prepend: site.baseurl }}" class="page-link">{{ trail.num }}</a>
  </li>
  {% endfor %}

  {% if paginator.next_page %}
  <li class="page-item">
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="page-link">Next &raquo;</a>
  </li>
  {% endif %}
</ul>
{% endif %}
